// Fonts

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

// Variables

$brand-primary:              #2980b9;
$border-radius-base:         0px;

$font-family-base:           "Open Sans", sans-serif;
$font-size-base:             18px;

$headings-font-family:       "Open Sans", sans-serif;
$font-size-h1:               2em;
$font-size-h2:               1.6em;
$font-size-h3:               1.4em;
$font-size-h4:               1.2em;

$gray-dark:                  lighten(black, 20%);
$gray-light:                 lighten(black, 88%);
$gray-bg:                    lighten(black, 95%);

$navbar-default-bg:          white;
$dropdown-bg:                $gray-light;
$dropdown-link-active-bg:    $gray-light;
$dropdown-link-hover-bg:     $gray-light;
$dropdown-link-active-color: $gray-dark;
$dropdown-link-hover-color:  $gray-dark;


// Common features and Bootstrap

@import "common";

// Content

section, footer {
  padding: $grid-gutter-width 0;

  table {
    width: 100%;
    border-bottom: 3px solid $brand-primary;
    border-top: 3px solid $brand-primary;

    tr td {
      background-color: $gray-bg;
    }

    tr:nth-child(even) td {
      background-color: lighten($gray-bg, 3%);
    }

    td {
      padding: 5px 10px;
    }
  }
  blockquote {
    border-color: $brand-primary;

    p {
      font-size: $font-size-base;
      font-style: italic;

      strong {
        font-style: normal;
        font-size: $font-size-base * 0.8;
      }
    }
  }
  .sitebox-method-icon { color: $brand-primary; }
}

// Navbar

.navbar {
  border: none;
  border-bottom: 3px solid $gray-light;
  margin: $grid-gutter-width 0 0 0;
}

li.dropdown:hover > .dropdown-menu { display: block; }
.navbar-header { padding: 0; }
.navbar-brand { color: $brand-primary; }

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;

  > .active > a, > li > a:hover, > .active > a:focus {
    border-bottom: 3px solid $brand-primary;
    margin-bottom: -3px;
  }
}

.dropdown-menu {
  border: none;
  padding: 0;
  border-top: 3px solid $brand-primary;
  width: 200px;
  left: 0px;

  > li {
    margin: 1px 0;
    background-color: white;

    > a {
      padding: 10px;
      font-size: $font-size-base * 0.8;
    }
  }
}

// Header

header {
  .heading {
    border-bottom: 3px solid $gray-light;
    padding: $grid-gutter-width 0;
    background-color: $gray-bg;
    background-position: 50% 50%;

    h1 {
      margin: 0 0 $grid-gutter-width / 2 0;
      font-size: $font-size-base * 1.6;

      span {
        background-color: $brand-primary;
        background-color: transparentize($brand-primary, 0.4);
      }
    }

    h2 {
      font-size: $font-size-base;
      margin: 0;

      span {
        background-color: black;
        background-color: transparentize(black, 0.4);
      }
    }

    h1, h2 {
      span {
        padding: 10px 20px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px $gray-dark;
      }
    }
  }
}

// Footer

footer {
  margin-top: $grid-gutter-width;
  border-top: 3px solid $gray-light;
  background-color: $gray-bg;

  .sitebox-method-social {
    background-color: $gray-dark;
    color: white;
    @include transition(0.25s);
    &:hover { background-color: $brand-primary; }
    i { color: white; }
  }
}
